/* 表紙 */
.book-simple {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-bottom: 10px;
  transition: box-shadow 2s ease;
  background-color: #124f4b;
  box-shadow: -2px 0 0 0 #124f4b, -1px 4px 1px 1px rgba(0, 0, 0, 0.2), 20px 0 20px 0 rgba(0, 0, 0, 0);
  perspective: 1000px;
  perspective-origin: 0 150%;
}

.book-simple.open {
  box-shadow: -2px 0 0 0 #124f4b, 0 4px 1px 1px rgba(0, 0, 0, 0.2), -195px 5px 1px -5px rgba(0, 0, 0, 0.2);
}

.book-simple::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: calc(100% - 10px);
  content: "";
  transition: transform 2.5s ease;
  transform-origin: 0 0;
  background-color: #249690;
  box-shadow: 0 2px 0 0 #124f4b;
}

.book-simple.open::before {
  transform: rotateY(-185deg);
}

/* 中身 */
.book-simple .book-inbox {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  transition: box-shadow 1.8s ease;
  transition-delay: 0.3s;
  background-color: #e2e1dc;
  box-shadow: 200px 0 1px 0 rgba(0, 0, 0, 0.4) inset, -2px 0 0 0 #249690;
}

.book-simple .book-inbox:after {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 8px;
  content: "";
  background-color: #afada3;
}

.book-inbox,
.book-simple.open .book-inbox {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0) inset, -2px 0 0 0 #249690;
}

/* ボタン */
.book-simple-switch {
  display: block;
  width: 6em;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 5px 0 0 #999;
}
